$width: 100px;
$height: 100px;
$row: 7;
$gap: 1px;
$padding: 10px;
$gapAtRow: $gap * 6;
$widthCount: $width + $gap;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;

  max-width: ($width * $row) + ($gap * ($row - 1)) + ($padding * 2);
  padding: 0 $padding;

  $start-days: (
    mon: 0,
    tue: $widthCount,
    wed: $widthCount * 2,
    thu: $widthCount * 3,
    fri: $widthCount * 4,
    sat: $widthCount * 5,
    sun: $widthCount * 6,
  );

  @each $day, $shift in $start-days {
    &--start-day-#{$day} .calendar__day:first-child {
      margin-left: $shift;
    }
  }

  @for $i from 28 to 31 {
    &--month-length-#{$i} :nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
  &__day {
    background-color: #eee;
    border: 1px solid black;
    height: $height;
    width: $width;
    transition: transform 0.5s ease;
    &:hover {
      cursor: pointer;
      background-color: #ffbfcb;
      transform: translateY(-20px);
    }
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $height;
      font-family: Arial, sans-serif;
      font-size: 30px;
      width: 100%;
      text-align: center;
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
  }
}
